<div style="width: 30%; padding: 5rem; display: inline-block">
  <div class="card card--primary">
    <header class="card__header">Card Header</header>
    <div class="card__body">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim impedit
      placeat aut incidunt in, iusto dignissimos dicta nisi repellat ea!
    </div>
  </div>
</div>
<div style="width: 30%; padding: 5rem; display: inline-block">
  <div class="card card--secondary">
    <header class="card__header">Card Header</header>
    <div class="card__body">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim impedit
      placeat aut incidunt in, iusto dignissimos dicta nisi repellat ea!
    </div>
  </div>
</div>
