<div class="block container block--domain">
  <header class="block__header">
    <h2>Starting at ₹749 per month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, obcaecati.
      Lorem ipsum dolor sit amet.
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter domain name here..." />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list block-domain__price">
    <li>
      <span class="badge badge--secondary badge--small">.com ₹1049</span>
    </li>
    <li>.in ₹749</li>
    <li>.org ₹825</li>
    <li>.info ₹1050</li>
    <li>.net ₹749</li>
    <li>.xyz ₹749</li>
  </ul>
</div>
<script src="JS/main.js"></script>
