<div class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">
        Cloud J<br />
        Uplift your content
      </h1>
      <p class="hero__tagline">An Iconic Tech Experience...</p>
      <a href="" class="btn btn--accent btn--long">Get Started</a>
    </header>
    <picture>
      <source
        type="image/webp"
        srcset="Images/banner@1x.webp 1x, Images/banner@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="Images/banner@1x.png 1x, Images/banner@2x.png 2x"
      />
      <img class="hero__image" src="Images/banner@1x.webp" alt="Banner" />
    </picture>
  </div>
</div>
<!-- <script src="JS/main.js"></script> -->
