<div class="card review_card">
  <div class="grid grid--1x2">
    <div class="rc__image">
      <img src="Images/testimonial.jpg" alt="Happy Customer" />
      <span class="icon--container icon--container--accent">
        <svg class="icon icon--small icon--white">
          <use xlink:href="Images/sprite.svg#quotes"></use></svg
      ></span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nemo
        aperiam omnis unde dolorem necessitatibus alias non porro nesciunt
        corporis et deserunt harum dolore laudantium aliquam nulla, quam illo
        tenetur.
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="Images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="quote__author">Sonu Shah</h3>
            <p class="quote__organisation">Code Company</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
